# Application Config
PORT=3000
NODE_ENV=development
API_PREFIX=api/v1
CORS_ORIGIN=*

# Database Config
MONGODB_URI=mongodb://localhost:27017/goldenmeraki

# JWT Authentication Config
JWT_SECRET=your_super_secret_access_key_here
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_super_secret_refresh_key_here
JWT_REFRESH_EXPIRES_IN=7d
